body 
{
    font-family: Tahoma, Verdana, Arial, Helvetica;
    font-size: 12px;
    direction: ltr;
}

a
{
    text-decoration: none;
    color: #000000;
}
a:active
{
    color: #000000;
}
a:checked
{
    color: #000000;
}
table
{
    margin: 15px;
}
table td
{
    padding: 3px;
}
table input
{
    font-size: 14px;
}
table textarea
{
    font-size: 14px;
    height: 155px;
    width: 255px;

}
table input:focus , textarea:focus
{
    background-color: #F1C40F;
}
/*header */
.main
{
    margin: auto;
    width: 90%;
    padding: 10px; 
}

.bashmain
{
    background-color: #296f99;
    padding: 0px;
    margin: 0px;
    border: none;
    width: 100%;
}

.bashtitle
{
    font-size: 16px;
    padding: 7px;
    float: left;
    background-color: #ffffff;
    width: 250px;
}
.bashtitle img 
{
    margin-left: 0px;
    padding: 0px;
    float: left;
}
.bashtitle a 
{
    text-decoration: none;
    font-style: italic;
}
.searchbash
{
    float: right;
    padding: 30px 10px 10px 10px;
}
.searchbash input, button
{
    font-size: 14px;
}
.searchmain
{
    padding: 30px;
    margin:auto;
    width: 50%;
}
.searchmain input,label
{
    font-size: 16px;
    width: 200px;
}
.bash {
    font-size: 14px;
    border: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;  
}
.bash ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border: none;
}
.bash ul li {
    float: left;
    padding: 0px;
    border: none;
    margin: 0px;
}
.bash a {
    background-color: #296f99;
    padding: 30px 10px 30px 10px;
    margin: 0;
    border: none;
    display: inline-block;
    color: #ffffff;
}
.bash li a:hover {
    background-color: #338ab1;
}
/*end header
begin 
page content
*/
.pagination
{
    clear: both;
}
.pagination a
{
    margin: 3px;
}

.language
{
    margin: 0;
    padding: 0;
    border: none;
    clear: both;
}
.language ul
{
    padding: 0;
    margin: 0;
}
.language ul li
{
    background-color: #129FEA;
    float: left;
    list-style-type: none;
    padding: 10px 10px 10px 10px;
}
.language ul li a
{
    padding: 10px;
    color: #2f2f2f;
}
.language ul li a:hover
{
    background-color: #999999;
}

.booknumber p
{
    clear: both;
    background-color: #999999;
    padding: 5px;
    margin: 0;
}

.booklist
{
    clear: both;
    margin: 20px;
}
.booklist li
{
    float: left;
    margin: auto;
    width: 180px;
    height: 250px;
    list-style-type: none;
}
.booklist li:hover
{
    background-color: #888888;
}
.booklist img
{
    margin: auto;
    padding: 10px;
}

.bookfiles
{
    background-color: antiquewhite;
    border-spacing: 0;
    border-collapse: collapse;
}
.bookfiles td
{
    padding: 12px;
    border: #000000 solid 1px;
}

.downloadbutton
{
    background-color: #0086b3;
    padding: 10px;
}
.downloadbutton:hover
{
    background-color: #129FEA;
}

.contactus
{

}
.content
{
    margin: 20px;
}
.contentright
{
    float: right;
    margin-top: 10px;
}

.contentright li
{
    list-style-type: none;
}

.contentleft
{
    float: left;
    padding-right: 35px;
}

.membermain
{
    clear: both;
}
.membermain ul
{
    background-color: #129FEA;
    padding: 25px;
    width: max-content;
}
.membermain ul li
{
    float: left;
    list-style-type: none;
    padding-left: 10px;
    margin: 0px;
}
.membermain ul li a
{
    padding: 5px;
}
.membermain ul li a:hover
{
        background-color: #888888;
}

.memberbookadd
{
    clear: both;
    padding: 1px;
}
.memberbookadd ul
{
    padding: 0px;
}
.memberbookadd ul li
{
    float: left;
    padding-right: 8px;
    padding-left: 0px;
    padding-bottom: 15px;
    list-style-type: none;
}

.memberbookadd a
{
    background-color: #595959;
    color: #f1d40f;
    padding: 8px;
    font-weight: bold;
}
.memberbookadd a:hover
{
    background-color: #888888;
}

.memberbooklist
{
    clear: both;
}
.memberbooklist ul li
{
    list-style-type: none;
    padding: 10px; 
    margin: 15px;
    background-color: #999999;
}
.memberbooklist ul li a
{
    
    padding: 15px;
    width: 100%;
    font-size: 14px;
}
.memberbooklist ul li a:hover
{
    background-color: #129FEA;
}
.memberfileupload
{
    border: #595959 solid thin;
    background-color: #999999;
    padding: 5px;
    width: fit-content;
    margin: 5px;
}
.memberfileupload label
{
    font: normal 12px Tahoma;
}
.memberfileupload input
{
    font: normal 14px Tahoma;
    margin-top: 5px;
}
.memberedit
{
    clear: both;
}
.memberedit select
{
    font-size: 14px;
}
.memberedit input
{
    width: 350px;
}
.memberedit textarea
{
    width: 400px;
}

.menimlibrary
{
    background-color: #dd4814;
    padding: 15px;
    width: fit-content;
}
.menimlibrary button
{
    margin: 8px;
}

/*footer*/
.footer
{
    background-color: #0086b3;
    padding: 10px;
    border: none;
    margin: 0px;
    width: 100%;
    clear: both;
}